
 #button-instructions{
	background-color:#8B0000;
	color:white;
	font-size: 16px;
	text-align: center;
	width: 400px;
	margin-left:50px;
	margin-right: 50px;
	margin-top:500px;
	margin-bottom:25px;
	border: solid;

}


#button-start{
	background-color:#8B0000;
	color:white;
	font-size: 16px;
	text-align: center;
	width: 400px;
	margin-left:0px;
	margin-right: 50px;
	margin-top:500px;
	margin-bottom:25px;
	border: solid;

  
}


#button-account{
	background-color:#8B0000;
	color:white;
	font-size: 16px;
	text-align: center;
	width: 400px;
	margin-left:0px;
	margin-right: 50px;
	margin-top:500px;
	margin-bottom:25px;
	border: solid;
}

#button-back{
	background-color:#8B0000;
	color:white;
	font-size: 16px;
	text-align: center;
	width: 100px;
	margin-left:0px;
	margin-right: 50px;
	margin-bottom:25px;
	border: solid;
}

#title{
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 100px;
    color: white;
    text-shadow: 4px 5px grey;
}

body{
    background-image: url( https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/029fe592-0d92-473c-bfa8-566cf2f8768d/d2o9zvs-e11145dc-5d2e-4e8a-933d-e7b4ad6e5194.jpg/v1/fill/w_900,h_563,q_75,strp/scary_cave_by_byakko_kun_d2o9zvs-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTYzIiwicGF0aCI6IlwvZlwvMDI5ZmU1OTItMGQ5Mi00NzNjLWJmYTgtNTY2Y2YyZjg3NjhkXC9kMm85enZzLWUxMTE0NWRjLTVkMmUtNGU4YS05MzNkLWU3YjRhZDZlNTE5NC5qcGciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.Zb-tBfglIcdbzLXbnyagvzhqUwBIIQykzkA9HgNkDnc);
    background-repeat: no-repeat;
    background-size: 100%;
}

.buttons {
	background-color:#8B0000;
	color:white;
	font-size: 16px;
	text-align: center;
	width: 400px;
	margin-left:50px;
	margin-top:500px;
	margin-bottom:25px;

}


canvas {
    border: 1px solid #d3d3d3;
    background-color: #181818;
    display: block;
    margin-right: auto;
    margin-left: auto;
    display: block;
   
}
#front{
	 background-color: red;
	 width:25%;
}
#back{
	background-color: pink;
	width: 25%;
}

#instructions, #objetive, #list{
 font-family: 'Press Start 2P';
 color: white;


}

p{
	font-family: 'Press Start 2P';
 color: white;
 font-size: 20px;
}

