<!DOCTYPE html>
<html>
<head>
    <title>TRIVIA RUN</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" type="text/css" href="/styleDir/styles.css"> 

</head>
<body onload="">
    <canvas id="myCanvas" width="1000" height="600" style="border:1px solid black;"></canvas>

<script>
var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
ctx.fillStyle = "#980000";
ctx.fillRect(40, 40, 85, 85);
ctx.fillStyle = "#980000";
ctx.fillRect(250, 40, 85, 85);
ctx.fillStyle = "#980000";
ctx.fillRect(680, 40, 85, 85);
ctx.fillStyle = "#980000";
ctx.fillRect(470, 40, 85, 85);
ctx.fillStyle = "#980000";
ctx.fillRect(890, 40, 85, 85);
ctx.fillStyle = "#980000";
ctx.fillRect(40, 500, 85, 85);
ctx.fillStyle = "#980000";
ctx.fillRect(890, 500, 85, 85);
ctx.fillStyle = "#980000";
ctx.fillRect(470, 500, 85, 85);
ctx.fillStyle = "#980000";
ctx.fillRect(680, 500, 85, 85);
ctx.fillStyle = "#980000";
ctx.fillRect(250, 500, 85, 85);
ctx.fillStyle = "#980000";
ctx.stroke();
ctx.stroke(); 
ctx.stroke();
ctx.stroke();
ctx.stroke();


</script>


</body>
</html>
