<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="/styleDir/styles.css"> 
</head>
<body onload="startGame()">
<script>

function startGame() {
    myGameArea.start();
}

var myGameArea = {
    canvas : document.createElement("canvas"),
    start : function() {
        this.canvas.width = 1150;
        this.canvas.height = 700;
        this.context = this.canvas.getContext("2d");
        document.body.insertBefore(this.canvas, document.body.childNodes[0]);
    }
}

</script>
<!-- Code for the basic structure of the question card -->
    <div class="questionCard"id="qCardBck">
        <div id="q1Card">
            <!-- API info for the first question will go in these tags --> 
            <h1 id="question"> {{question}}</h1>
            <form>
                <select name="questionForm">
                    <option value="true"> True </option>
                    <option value="false"> False </option>
                </select>
                <input type="submit" value="Sumbit Answer">
            </form>
        </div>

    </div>


</body>
</html>
