<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" type="text/css" href="/styleDir/styles.css"> 

</head>
<body onload="startGame()">
    <canvas id="myCanvas" width="1000" height="600" style="border:1px solid black;"></canvas>

<script>
var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
ctx.rect(40, 40, 75, 75);
ctx.rect(250, 40, 75, 75);
ctx.rect(680, 40, 75, 75);
ctx.rect(470, 40, 75, 75);
ctx.rect(890, 40, 75, 75);
ctx.rect(890, 150, 75, 75);
ctx.rect(890, 260, 75, 75);
ctx.rect(470, 260, 75, 75);
ctx.rect(680, 260, 75, 75);
ctx.rect(250, 260, 75, 75);
ctx.rect(40, 260, 75, 75);
ctx.rect(40, 370, 75, 75);
ctx.rect(40, 480, 75, 75);
ctx.rect(250, 480, 75, 75);
ctx.rect(680, 480, 75, 75);
ctx.rect(470, 480, 75, 75);
ctx.rect(890, 480, 75, 75);
ctx.stroke();
ctx.stroke(); 
ctx.stroke();
ctx.stroke();
ctx.stroke();



</script>


</body>
</html>
