<!DOCTYPE html>
<html>
<head>

	<title>Welcome to Trivia Run!</title>
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
	<link rel = "stylesheet" type = "text/css"  href = "/styleDir/styles.css" />

</head>
<body>
<h1 id="title">Trivia Run</h1>

<a href="/instructions.html"> <button id= "button-instructions" type="button" >INSTRUCTIONS</button> </a> 

 <a href="/game"> <button id= "button-start" type="button" >START!</button> </a>

  <a href="/"> <button id= "button-account" type="button">ACCOUNT</button> </a>
	
</body>
</html>


