<!DOCTYPE html>
<html>
<head>

    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Welcome to Trivia Run!</title>
    <link rel = "stylesheet" type = "text/css"  href = "/styleDir/styles.css" />

</head>
<body>
	<h1 id="title">Trivia Run</h1>
	<button class= "buttons" type="button" >CONTROLS</button>
	<button class= "buttons" type="button" >START!</button>
	<button class= "buttons" type="button">ACCOUNT</button>




</body>
</html>



