<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="/styleDir/styles.css"> 
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
	<title>INSTRUCTIONS AND CONTROLS:</title>
</head>
<body>

<h1 id= "objetive">GAME OBJECTIVE:</h1>
<P>YOU HAVE TO ESCAPE FROM A MONSTER BY ANSWERING QUESTIONS WHILE YOU TRY TO KEEP THE MOST HEARTS POSSIBLE...</P>

<h2 id= "instructions">HOW TO PLAY...</h2>
<ol id="list">
	<li>You have to answer a question right so you can pass to the next block</li>
	<br>
	<br>
	<li>If you don't get the question right you will lose a heart</li>
	<br>
	<br>
	<li>if you lose all of the hearts, the monster catches you and the GAME is OVER</li>
</ol>
<br>
	<br>
  <a href="/"> <button id= "button-back" type="button">BACK</button> </a>


</body>
</html>




































