<!DOCTYPE html>
<html>
<head>
	<title>INSTRUCTIONS AND CONTROLS:</title>
</head>
<body>
<h1>GAME OBJETIVE:</h1>
<P>YOU HAVE TO ESCAPE FROM A MONSTER BY ANSWERING QUESTIONS WHILE YOU TRY TO KEEP THE MOST HEASRTS POSSIBLE...</P>

<h2>HOW TO PLAY...</h2>
<ol>
	<li>You have to answer right a question so you can pass to the next bock</li>
	<li>If you don't get the question right you will lose half a heart</li>
	<li>if you lose all the hearts, the monster catches you and GAME OVER</li>
</ol>
</body>
</html>




































