<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/styleDir/styles.css">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body id="login">

<h2>Login</h2>

<form action="">
Email:
<input type="text" name="email" maxlength="50" style="width: 250px;">
<br>
<br>
Username:
<input type="text" name="username" maxlength="12"  style="width: 250px;">
<br>
<br>
Password:
<input type="text" name="password" maxlength="20"  style="width: 250px;">
<br>
<br>
<input type="submit" value="Submit">
<br>


</form>

</body>
</html>
